<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">
    <Properties>
        <Property name="BASE_LOG_PATH">${env:LOG_LOCATION:-C:\\tmp\\logs}</Property>
        <Property name="LOG_FILENAME">me-manager</Property>

    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${BASE_LOG_PATH}/${LOG_FILENAME}.log" filePattern="${BASE_LOG_PATH}/{LOG_FILENAME}-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="fileLogger" />
        </Root>
    </Loggers>
</Configuration>
