.solid-graphs .l-container:before,
.solid-graphs .l-container:after,
.solid-graphs .l-row:before,
.solid-graphs .l-row:after,
.solid-graphs .l-group:before {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
}
.solid-graphs .l-container {
  margin: 0 auto;
  padding: 0.5em 1em;
}
.solid-graphs .l-row {
  margin-bottom: 1em;
}
.solid-graphs .margin-bottom-0 {
  margin-bottom: 0 !important;
}
.solid-graphs .margin-bottom-half {
  margin-bottom: 0.5em !important;
}
.solid-graphs [class^="l-col"] {
  position: relative;
  min-height: 1px;
  padding: 0 1em;
  float: left;
}
.solid-graphs .l-col-12 {
  width: 100%;
}
.solid-graphs .l-col-11 {
  width: 91.66666667%;
}
.solid-graphs .l-col-10 {
  width: 83.33333333%;
}
.solid-graphs .l-col-9 {
  width: 75%;
}
.solid-graphs .l-col-8 {
  width: 66.66666667%;
}
.solid-graphs .l-col-7 {
  width: 58.33333333%;
}
.solid-graphs .l-col-6 {
  width: 50%;
}
.solid-graphs .l-col-5 {
  width: 41.66666667%;
}
.solid-graphs .l-col-4 {
  width: 33.33333333%;
}
.solid-graphs .l-col-3 {
  width: 25%;
}
.solid-graphs .l-col-2 {
  width: 16.66666667%;
}
.solid-graphs .l-col-1 {
  width: 8.33333333%;
}
.solid-graphs .l-col-push-12 {
  left: 100%;
}
.solid-graphs .l-col-push-11 {
  left: 91.66666667%;
}
.solid-graphs .l-col-push-10 {
  left: 83.33333333%;
}
.solid-graphs .l-col-push-9 {
  left: 75%;
}
.solid-graphs .l-col-push-8 {
  left: 66.66666667%;
}
.solid-graphs .l-col-push-7 {
  left: 58.33333333%;
}
.solid-graphs .l-col-push-6 {
  left: 50%;
}
.solid-graphs .l-col-push-5 {
  left: 41.66666667%;
}
.solid-graphs .l-col-push-4 {
  left: 33.33333333%;
}
.solid-graphs .l-col-push-3 {
  left: 25%;
}
.solid-graphs .l-col-push-2 {
  left: 16.66666667%;
}
.solid-graphs .l-col-push-1 {
  left: 8.33333333%;
}
.solid-graphs .l-col-offset-12 {
  margin-left: 100%;
}
.solid-graphs .l-col-offset-11 {
  margin-left: 91.66666667%;
}
.solid-graphs .l-col-offset-10 {
  margin-left: 83.33333333%;
}
.solid-graphs .l-col-offset-9 {
  margin-left: 75%;
}
.solid-graphs .l-col-offset-8 {
  margin-left: 66.66666667%;
}
.solid-graphs .l-col-offset-7 {
  margin-left: 58.33333333%;
}
.solid-graphs .l-col-offset-6 {
  margin-left: 50%;
}
.solid-graphs .l-col-offset-5 {
  margin-left: 41.66666667%;
}
.solid-graphs .l-col-offset-4 {
  margin-left: 33.33333333%;
}
.solid-graphs .l-col-offset-3 {
  margin-left: 25%;
}
.solid-graphs .l-col-offset-2 {
  margin-left: 16.66666667%;
}
.solid-graphs .l-col-offset-1 {
  margin-left: 8.33333333%;
}
@media (max-width: 1024px) {
  .solid-graphs [class^="l-col"] {
    padding: 0 0.5em;
  }
  .solid-graphs .chart-container-bar.chart-container-pos-neg .graph-grid {
    padding: 0 !important;
  }
}
@media (max-width: 798px) {
  #wrapper {
    margin: 355px auto 1em auto;
  }
  .solid-graphs {
    /* bar-graph horizontal */
    /* bar graph - vertical */
  }
  .solid-graphs [class^="l-col"] {
    width: 100%;
    /* all columns will stack vertically */
    margin-left: 0;
    /* suppress margin for offsets */
    left: 0;
    /* suppress left values for push */
    right: 0;
    /* suppress right values for pull */
  }
  .solid-graphs .graph-grid {
    display: none !important;
  }
  .solid-graphs .l-flex-hvc {
    display: block;
    text-align: center;
  }
  .solid-graphs .l-flex-hvc > li {
    margin-bottom: 10px;
    display: block;
  }
  .solid-graphs .l-flex-hvc > li > .btn {
    width: 100% !important;
  }
  .solid-graphs .chart-container.chart-container-bar {
    border: 0 !important;
    padding: 1em;
    margin: 1em 0;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bars span {
    width: 100% !important;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bars.stacked-bars > li > span {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bars.stacked-bars > li > span.stacked-top {
    width: 30% !important;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bars.stacked-bars > li > span.stacked-bottom {
    width: 70% !important;
    right: 0 !important;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bars.stacked-bars > li > span > em {
    left: 5px;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bar-y-axis {
    padding-right: 25px;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bar-y-axis.chart-bar-y-axis-rounded-3d span {
    right: 2px;
  }
  .solid-graphs .chart-container.chart-container-bar .bar-y-axis {
    position: absolute;
    z-index: 150;
  }
  .solid-graphs .chart-container.chart-container-bar .bar-y-axis li {
    text-transform: uppercase;
  }
  .solid-graphs .chart-container.chart-container-bar .bar-y-axis li span {
    color: white !important;
    font-weight: normal;
    margin-top: 0;
    text-align: right;
  }
  .solid-graphs .chart-container.chart-container-bar .chart-bars-scale,
  .solid-graphs .chart-container.chart-container-bar .bar-x-axis {
    display: none;
  }
  .solid-graphs .chart-container.chart-container-bar.chart-container-pos-neg {
    padding-left: 1em !important;
  }
  .solid-graphs .chart-container.chart-container-bar.chart-container-pos-neg .d-line {
    opacity: 0;
  }
  .solid-graphs .chart-container.chart-container-bar.chart-container-pos-neg .chart-bars > li > span {
    left: 0 !important;
  }
  .solid-graphs .chart-container.chart-container-column {
    border: 0 !important;
    padding: 1.5em 1em 1em 1em;
    margin: 1em 0;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns li,
  .solid-graphs .chart-container.chart-container-column .chart-column-x-axis li {
    display: block;
    width: 100% !important;
    height: 40px !important;
    background: none !important;
    margin-bottom: 8px;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns span,
  .solid-graphs .chart-container.chart-container-column .chart-column-x-axis span {
    height: 40px !important;
    padding: 11px 11px 11px 0 !important;
    text-align: right;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns.stacked-columns > li > span.stacked-bottom {
    z-index: 1;
    width: 75% !important;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns.stacked-columns > li > span.stacked-top {
    z-index: 0;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns.stacked-columns > li > span:before,
  .solid-graphs .chart-container.chart-container-column .chart-columns.stacked-columns > li > span:after {
    content: none !important;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns.stacked-columns.stacked-columns-rounded-3d > li {
    margin-bottom: 5px;
  }
  .solid-graphs .chart-container.chart-container-column .chart-column-x-axis.chart-column-x-axis-stacked > li {
    z-index: 1;
    top: -1px;
  }
  .solid-graphs .chart-container.chart-container-column .chart-column-x-axis.chart-column-x-axis-stacked.chart-column-x-axis-rounded-3d > li {
    top: -5px;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns.chart-columns-rounded-3d li,
  .solid-graphs .chart-container.chart-container-column .chart-column-x-axis.chart-column-x-axis-rounded-3d li {
    margin-bottom: 25px;
    line-height: 1.45;
    padding-top: 8px !important;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns.chart-columns-rounded-flat span {
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
  }
  .solid-graphs .chart-container.chart-container-column .chart-columns-contents {
    border: none;
  }
  .solid-graphs .chart-container.chart-container-column .column-y-axis {
    display: none;
  }
  .solid-graphs .chart-container.chart-container-column .column-x-axis {
    position: absolute;
  }
  .solid-graphs .chart-container.chart-container-column .column-x-axis li {
    width: 100%;
    padding: 0 0 0 28px !important;
    color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    line-height: 34px;
    text-align: left;
  }
  .solid-graphs .chart-container.chart-container-column.chart-container-pos-neg .d-line {
    opacity: 0;
  }
  .solid-graphs .chart-container.chart-container-column.chart-container-pos-neg .chart-columns > li > span {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
    bottom: initial !important;
  }
  .solid-graphs .chart-container.chart-container-column.chart-container-pos-neg .chart-columns > li > span em {
    left: 10px !important;
    right: initial !important;
    bottom: initial !important;
  }
  .solid-graphs .tab-container > label {
    display: block;
    margin: 0 0 3px 0;
    -webkit-transform: translateY(-3px) !important;
       -moz-transform: translateY(-3px) !important;
        -ms-transform: translateY(-3px) !important;
         -o-transform: translateY(-3px) !important;
            transform: translateY(-3px) !important;
    border: 1px solid #d2d2d2;
  }
  .solid-graphs .tab-container > label.lc-mb-0 {
    margin-bottom: 0 !important;
  }
  /* end .solid-tabs */
}
@media (max-width: 550px) {
  .solid-graphs .legend-section .legend-container,
  .solid-graphs .legend-section .legend-box,
  .solid-graphs .legend-section .legend-box.legend-box-fw,
  .solid-graphs .legend-section .legend-color {
    display: block;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
  }
  .solid-graphs .legend-section .legend-box,
  .solid-graphs .legend-section .legend-color {
    margin-bottom: 10px;
  }
}
