.solid-graphs .chart-bars > li:hover span,
.solid-graphs .chart-columns > li:hover span {
  cursor: pointer;
  /* background: black !important; //if you want a hover effect on each bar graphs */
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}
